@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">You do not have access to this resource.</p>
</header>
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <div class="mt-5">
                        <h1 class="text-danger">@ViewData["Title"]</h1>
                        <p class="text-danger">You do not have access to this resource.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
