@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Đăng ký";
}

<div class="page-wrapper" style="min-height: 941px;">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <div class="mt-5">
                        <h4 class="card-title float-left mt-2">@ViewData["Title"]</h4>
                        <h2 id="external-login-title">Liên kết tài khoản @Model.ProviderDisplayName .</h2>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p id="external-login-description" class="text-info">
                    Bạn đã xác thực thành công với <strong>@Model.ProviderDisplayName</strong>.
                    Vui lòng nhập địa chỉ email cho trang web này bên dưới và nhấp vào nút Đăng ký để hoàn tất
                    đăng nhập.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-outline mb-4">
                        <input asp-for ="Input.Email" type="email" id="typeEmail" class="form-control" readonly/>
                        <label class="form-label" for="typeEmail">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-outline mb-4">
                        <input asp-for="Input.UserName" type="text" id="typeUserName" class="form-control" />
                        <label class="form-label" for="typeUserName">UserName</label>
                        <span asp-validation-for="Input.UserName" class="text-danger"></span>
                    </div>
                    <div class="form-outline mb-4">
                        <input asp-for="Input.FirstName" type="text" id="typeFirstName" class="form-control" />
                        <label class="form-label" for="typeFirstName">Họ</label>
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-outline mb-4">
                        <input asp-for="Input.MiddleName" type="text" id="MiddleName" class="form-control" />
                        <label class="form-label" for="MiddleName">Tên Đệm</label>
                        <span asp-validation-for="Input.MiddleName" class="text-danger"></span>
                    </div>
                    <div class="form-outline mb-4">
                        <input asp-for="Input.LastName" type="text" id="LastName" class="form-control" />
                        <label class="form-label" for="LastName">Tên</label>
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>

                    <button type="submit" class="mt-4 w-100 btn btn-lg btn-primary">Đăng ký</button>
                </form>
            </div>
        </div>
    </div>
</div>
