
.btn-golfgreen {
    background-color: #009688;
    border: 1px solid #009688;
}

.btn-golfgreen:hover,
.btn-golfgreen:focus,
.btn-golfgreen.active,
.btn-golfgreen:active,
.open > .dropdown-toggle.btn-golfgreen {
    background: #009688;
    border-color: #009688;
}

.btn-golfgreen.active.focus,
.btn-golfgreen.active:focus,
.btn-golfgreen.active:hover,
.btn-golfgreen.focus:active,
.btn-golfgreen:active:focus,
.btn-golfgreen:active:hover,
.open > .dropdown-toggle.btn-golfgreen.focus,
.open > .dropdown-toggle.btn-golfgreen:focus,
.open > .dropdown-toggle.btn-golfgreen:hover {
    background-color: #009688;
    border: 1px solid #009688
}

.btn-golfgreen.active:not(:disabled):not(.disabled),
.btn-golfgreen:active:not(:disabled):not(.disabled),
.show > .btn-golfgreen.dropdown-toggle {
    background-color: #009688;
    border-color: #009688;
    color: #fff;
    background: #eccd8e;
    border-color: #eccd8e;
}

.btn-golfgreen.active:focus:not(:disabled):not(.disabled),
.btn-golfgreen:active:focus:not(:disabled):not(.disabled),
.show > .btn-golfgreen.dropdown-toggle:focus {
    box-shadow: unset;
}

.btn-golfgreen.disabled, .btn-golfgreen:disabled {
    background-color: #009688;
    border-color: #009688;
    color: #fff;
}


.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.body-background {
   background-image: url(../img/background.png); 
   background-repeat: no-repeat; 
   background-attachment: fixed; 
   background-size: cover;
}

.form-outline-strongcyan .form-control:focus ~ .form-label {
    color: #009688 !important;
}

.form-outline-strongcyan .form-control:focus ~ .form-notch .form-notch-middle {
    border-color: #009688 !important;
    box-shadow: 0 1px 0 0 #009688 !important;
    border-top: 1px solid transparent !important;
}

.form-outline-strongcyan .form-control:focus ~ .form-notch .form-notch-leading {
    border-color: #009688 !important;
    box-shadow: -1px 0 0 0 #009688,0 1px 0 0 #009688,0 -1px 0 0 #009688 !important;
}

.form-outline-strongcyan .form-control:focus ~ .form-notch .form-notch-trailing {
    border-color: #009688 !important;
    box-shadow: 1px 0 0 0 #009688,0 -1px 0 0 #009688,0 1px 0 0 #009688 !important;
}


#radius-shape-1 {
    height: 220px;
    width: 220px;
<<<<<<< HEAD
    top: -80px;
    left: -100px;
=======
    top: -60px;
    left: -130px;
>>>>>>> 76416d0b107a22e2327e21ca09ec23c6d763b566
    background: radial-gradient(#0C8075, #05fa4a);
    overflow: hidden;
}

#radius-shape-2 {
    border-radius: 78% 62% 63% 47% / 70% 39% 67% 30%;
    height: 100px;
    width: 100px;
    top: -60px;
    right: -40px;
    background: radial-gradient(#0C8075, #05fa4a);
    overflow: hidden;
}

#radius-shape-3 {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    bottom: 170px;
<<<<<<< HEAD
    left: -40px;
=======
    left: -50px;
>>>>>>> 76416d0b107a22e2327e21ca09ec23c6d763b566
    background: radial-gradient(#0C8075, #05fa4a);
    overflow: hidden;
}


#radius-shape-4 {
    border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
    bottom: -60px;
    right: -110px;
    width: 300px;
    height: 300px;
    background: radial-gradient(#0C8075, #05fa4a);
    overflow: hidden;
}

.btn-strongcyan {
    --mdb-btn-bg: #009688 !important;
    --mdb-btn-color: #fff !important;
    --mdb-btn-box-shadow: 0 4px 9px -4px #009688 !important;
    --mdb-btn-hover-bg: #06b8a7;
    --mdb-btn-hover-color: #fff;
    --mdb-btn-focus-bg: #06b8a7;
    --mdb-btn-focus-color: #fff;
    --mdb-btn-active-bg: #1bdeca;
    --mdb-btn-active-color: #fff
}

    .btn-strongcyan:first-child:hover, .btn-strongcyan:focus-visible, .btn-strongcyan:hover, :not(.btn-check) + .btn-strongcyan:hover {
        box-shadow: 0 8px 9px -4px rgba(59,113,202,.3),0 4px 18px 0 rgba(59,113,202,.2)
    }
