@model QuanLyKhoaCNTTUEF.Models.Plan

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-wrapper" style="min-height: 941px;">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <div class="mt-5">
                        <h4 class="card-title float-left mt-2">@ViewData["Title"]</h4>
                        <a asp-action="Index" class="btn btn-primary float-right veiwbutton">Quay Về</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">

                <div class="card">

                    <div class="card-body">
                        <div class="col">
                            <form asp-action="Create" method="post" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="PlanName" class="control-label"></label>
                                    <input asp-for="PlanName" class="form-control" />
                                    <span asp-validation-for="PlanName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="PdfFiles" class="control-label"></label>
                                    <input type="file" asp-for="PdfFiles" name="PdfFiles" id="pdfFile" class="form-control-file form-control" accept="application/pdf" onchange="loadPdf()" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="PresenDate" class="control-label"></label>
                                    <input asp-for="PresenDate" class="form-control" />
                                    <span asp-validation-for="PresenDate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ApprovalDate" class="control-label"></label>
                                    <input asp-for="ApprovalDate" class="form-control" />
                                    <span asp-validation-for="ApprovalDate" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <input type="submit" value="Create" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                        <div class="col">
                            <embed id="pdfViewer" type="application/pdf" width ="100%" height="auto" />
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
</div>
@section Scripts
{
    <script>
        
        function loadPdf() {
            var pdfViewer = document.getElementById('pdfViewer');
            var file = document.getElementById('pdfFile').files[0];
            var url = URL.createObjectURL(file);
            pdfViewer.height = "1000px"
            pdfViewer.src = url;
        }

    </script>
}
