@{
    ViewData["Title"] = "Home Page";
}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center pageheader-title">
                <div class="calendar-info calendar-info1">
                    <div class="up-come-header">
                        <h2>Upcoming Events</h2>
                        <span><a href="javascript:;"><i class="feather-plus"></i></a></span>
                    </div>
                    <div class="upcome-event-date">
                        <h3>10 Jan</h3>
                        <span><i class="fas fa-ellipsis-h"></i></span>
                    </div>
                    <div class="calendar-details">
                        <p>08:00 am</p>
                        <div class="calendar-box normal-bg">
                            <div class="calandar-event-name">
                                <h4>Botony</h4>
                                <h5>Lorem ipsum sit amet</h5>
                            </div>
                            <span>08:00 - 09:00 am</span>
                        </div>
                    </div>
                    <div class="calendar-details">
                        <p>09:00 am</p>
                        <div class="calendar-box normal-bg">
                            <div class="calandar-event-name">
                                <h4>Botony</h4>
                                <h5>Lorem ipsum sit amet</h5>
                            </div>
                            <span>09:00 - 10:00 am</span>
                        </div>
                    </div>
                    <div class="calendar-details">
                        <p>10:00 am</p>
                        <div class="calendar-box normal-bg">
                            <div class="calandar-event-name">
                                <h4>Botony</h4>
                                <h5>Lorem ipsum sit amet</h5>
                            </div>
                            <span>10:00 - 11:00 am</span>
                        </div>
                    </div>
                    <div class="upcome-event-date">
                        <h3>10 Jan</h3>
                        <span><i class="fas fa-ellipsis-h"></i></span>
                    </div>
                    <div class="calendar-details">
                        <p>08:00 am</p>
                        <div class="calendar-box normal-bg">
                            <div class="calandar-event-name">
                                <h4>English</h4>
                                <h5>Lorem ipsum sit amet</h5>
                            </div>
                            <span>08:00 - 09:00 am</span>
                        </div>
                    </div>
                    <div class="calendar-details">
                        <p>09:00 am</p>
                        <div class="calendar-box normal-bg">
                            <div class="calandar-event-name">
                                <h4>Mathematics	</h4>
                                <h5>Lorem ipsum sit amet</h5>
                            </div>
                            <span>09:00 - 10:00 am</span>
                        </div>
                    </div>
                    <div class="calendar-details">
                        <p>10:00 am</p>
                        <div class="calendar-box normal-bg">
                            <div class="calandar-event-name">
                                <h4>History</h4>
                                <h5>Lorem ipsum sit amet</h5>
                            </div>
                            <span>10:00 - 11:00 am</span>
                        </div>
                    </div>
                    <div class="calendar-details">
                        <p>11:00 am</p>
                        <div class="calendar-box break-bg">
                            <div class="calandar-event-name">
                                <h4>Break</h4>
                                <h5>Lorem ipsum sit amet</h5>
                            </div>
                            <span>11:00 - 12:00 am</span>
                        </div>
                    </div>
                    <div class="calendar-details">
                        <p>11:30 am</p>
                        <div class="calendar-box normal-bg">
                            <div class="calandar-event-name">
                                <h4>History</h4>
                                <h5>Lorem ipsum sit amet</h5>
                            </div>
                            <span>11:30 - 12:00 am</span>
                        </div>
                    </div>
                </div>
                </div>
        </div>
    </div>
</div>
