@{
    /*if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }*/
    Layout = null;
}

<html lang="en, vi">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ĐĂNG NHẬP - HỆ THỐNG QUẢN LÝ KHOA</title>
    <meta content="HỆ THỐNG QUẢN LÝ KHOA - UEF" name="description">
    <meta content="Trường đào tạo hàng đầu về Kinh tế Tài chính ở Việt Nam, chuẩn Quốc tế, đảm bảo thực tập, việc làm tại các tập đoàn lớn. " name="keywords">
    <meta name="description" content="Trường đào tạo hàng đầu về Kinh tế Tài chính ở Việt Nam, chuẩn Quốc tế, đảm bảo thực tập, việc làm tại các tập đoàn lớn.">
    <meta name="author" content="YanDev">
    <meta name="robots" content="all">
    <link href="~/img/logo_small.png" rel="icon">
    <link href="~/img/logo_small.png" rel="apple-touch-icon">
    <!-- Open Graph Meta -->
    <meta property="og:title" content="Trường đào tạo hàng đầu về Kinh tế Tài chính ở Việt Nam, chuẩn Quốc tế, đảm bảo thực tập, việc làm tại các tập đoàn lớn.">
    <meta property="og:site_name" content="HỆ THỐNG QUẢN LÝ KHOA">
    <meta property="og:description" content="Trường đào tạo hàng đầu về Kinh tế Tài chính ở Việt Nam, chuẩn Quốc tế, đảm bảo thực tập, việc làm tại các tập đoàn lớn.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="/">
    <meta property="og:image" content="https://user-cdn.uef.edu.vn/img/slider/bannerhuongnghiep-final-2023-1665029440.jpg">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&display=swap">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/plugins/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="~/plugins/fontawesome/css/fontawesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/plugins/datatables/datatables.min.css">
    <link href="~/css/feathericon.min.css" rel="stylesheet" />
    <link href="~/plugins/morris/morris.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/plugins/select2/css/select2.min.css">

</head>
<body>
    <div class="header">

        <div class="header-left">
            <a href="index.html" class="logo">
                <img src="~/img/logo_small.png" width="50" height="70" alt="logo">
                <span class="logoclass">Dashboard</span>
            </a>
            <a href="index.html" class="logo logo-small" style="padding-top: 30px;">
                <img src="~/img/logo_small.png" alt="Logo" width="30" height="30">
            </a>
        </div>

        <a href="javascript:void(0);" id="toggle_btn">
            <i class="fe fe-text-align-left"></i>
        </a>

        <a class="mobile_btn" id="mobile_btn">
            <i class="fas fa-bars"></i>
        </a>

        <partial name="_LoginPartial" />

        <div class="top-nav-search">
            <form>
                <input type="text" class="form-control" placeholder="">
                <button class="btn" type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </div>

    <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
                <ul>
                    <li class="active">
                        <a href="index.html"><i class="fas fa-home"></i> <span>Trang chủ</span></a>
                    </li>
                    <li class="list-divider"></li>
                    <li class="submenu">
                        <a href="#"><i class="fas fa-user"></i> <span> Quản lý giảng viên  </span> <span class="menu-arrow"></span></a>
                        <ul class="submenu_class" style="display: none;">
                            <li><a href="all-booking.html">  Hồ sơ giảng viên </a></li>
                            <li><a href="edit-booking.html"> Quá trình giảng dạy </a></li>
                            <li><a href="add-booking.html"> Nhiệm vụ </a></li>
                            <li><a href="add-booking.html"> Các hoạt động </a></li>
                            <li><a href="add-booking.html"> Chất lượng giảng dạy </a></li>
                            <li><a href="add-booking.html"> Công tác nghiên cứu </a></li>
                            <li><a href="add-booking.html"> Quá trình công tác </a></li>
                            <li><a href="add-booking.html"> Nhiệm vụ </a></li>

                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="#"><i class="fas fa-book"></i> <span> Quản lý môn học  </span> <span class="menu-arrow"></span></a>
                        <ul class="submenu_class" style="display: none;">
                            <li><a href="all-booking.html">  Thông tin các môn học Khoa quản lý </a></li>
                            <li><a href="edit-booking.html"> Thông tin các môn học theo năm, kì </a></li>
                            <li><a href="add-booking.html"> Cập nhật sửa đổi đối với các học phần </a></li>

                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="#"><i class="fas fa-calendar-alt"></i> <span> Quản lý sự kiện  </span> <span class="menu-arrow"></span></a>
                        <ul class="submenu_class" style="display: none;">
                            <li><a asp-controller="Adminstrator" asp-action="Event"> Quản lý sự kiện </a></li>
                            <li><a asp-controller="Adminstrator" asp-action="Plan"> Quản lý kế hoạch </a></li>
                            <li><a asp-controller="Adminstrator" asp-action="Group"> Quản lý nhóm </a></li>
                            <li><a asp-controller="Adminstrator" asp-action="Task"> Quản lý nhiệm vụ </a></li>
                            <li><a asp-controller="Adminstrator" asp-action="TaskList"> Danh sách nhiệm vụ </a></li>
                            <li><a asp-controller="Adminstrator" asp-action="Member"> Quản lý thành viên </a></li>
                            <li><a asp-controller="Adminstrator" asp-action="List"> Danh sách thông tin </a></li>

                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="#"><i class="fas fa-book"></i> <span> Quản lý công việc  </span> <span class="menu-arrow"></span></a>
                        <ul class="submenu_class" style="display: none;">
                            <li><a href="all-booking.html">   Giảng viên đăng ký, cập nhật thông tin, tiến độ trực tuyến </a></li>
                            <li><a href="edit-booking.html">Bộ phận quản lý dễ dàng theo dõi tiến độ và đánh giá chất lượng công việc</a></li>
                            <li><a href="add-booking.html"> Đánh giá </a></li>

                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="#"><i class="fas fa-book"></i> <span> Báo cáo, thống kê  </span> <span class="menu-arrow"></span></a>
                        <ul class="submenu_class" style="display: none;">
                            <li><a href="all-booking.html">Xuất báo cáo, dữ liệu phục vụ công tác đánh giá cuối năm hoặc các hoạt động khác cho giảng viên</a></li>

                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="#"><i class="fas fa-book"></i> <span> Báo cáo, thống kê  </span> <span class="menu-arrow"></span></a>
                        <ul class="submenu_class" style="display: none;">
                            <li><a href="all-booking.html">Xuất báo cáo, dữ liệu phục vụ công tác đánh giá cuối năm hoặc các hoạt động khác cho giảng viên</a></li>

                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="#"><i class="fas fa-book"></i> <span> Báo cáo, thống kê  </span> <span class="menu-arrow"></span></a>
                        <ul class="submenu_class" style="display: none;">
                            <li><a href="all-booking.html">Xuất báo cáo, dữ liệu phục vụ công tác đánh giá cuối năm hoặc các hoạt động khác cho giảng viên</a></li>

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    @RenderBody()
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables/datatables.min.js"></script>
    <script src="~/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/plugins/raphael/raphael.min.js"></script>
    <script src="~/js/script.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
