@model QuanLyKhoaCNTTUEF.Models.MembersGroups
@{
   
}

<div class="modal-header">
    <h4 class="modal-title">Chỉnh sửa thành viên</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col">
    
            <form id="edit-member-form" method="post">
                <div class="form-group">
                    <label class="control-label">Thành viên:</label>
                    <input class="form-control" value="@Model.ApplicationUser!.FullName" readonly />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Thành viên:</label>
                    <input class="form-control" value="@ViewBag.GroupID" readonly />
                    <span class="text-danger"></span>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
    <button type="submit" class="btn btn-primary" form="edit-member-form">Lưu lại</button>
</div>
