<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <title>HỆ THỐNG QUẢN LÝ KHOA</title>
    <meta content="HỆ THỐNG QUẢN LÝ KHOA - UEF" name="description">
    <meta content="Trường đào tạo hàng đầu về Kinh tế Tài chính ở Việt Nam, chuẩn Quốc tế, đảm bảo thực tập, việc làm tại các tập đoàn lớn. " name="keywords">

    <meta name="description" content="Trường đào tạo hàng đầu về Kinh tế Tài chính ở Việt Nam, chuẩn Quốc tế, đảm bảo thực tập, việc làm tại các tập đoàn lớn.">
    <meta name="author" content="YanDev">
    <meta name="robots" content="all">

    <link href="~/img/logo_small.png" rel="icon">
    <link href="~/img/logo_small.png" rel="apple-touch-icon">
    <!-- Open Graph Meta -->
    <meta property="og:title" content="Trường đào tạo hàng đầu về Kinh tế Tài chính ở Việt Nam, chuẩn Quốc tế, đảm bảo thực tập, việc làm tại các tập đoàn lớn.">
    <meta property="og:site_name" content="HỆ THỐNG QUẢN LÝ KHOA">
    <meta property="og:description" content="Trường đào tạo hàng đầu về Kinh tế Tài chính ở Việt Nam, chuẩn Quốc tế, đảm bảo thực tập, việc làm tại các tập đoàn lớn.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="/">
    <meta property="og:image" content="https://user-cdn.uef.edu.vn/img/slider/bannerhuongnghiep-final-2023-1665029440.jpg">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&display=swap">

    <link type="text/css" rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="~/css/feathericon.min.css" />
    <link type="text/css" rel="stylesheet" href="~/css/style.css" />
    <link type="text/css" rel="stylesheet" href="~/plugins/fontawesome/css/fontawesome.min.css" />
    <link type="text/css" rel="stylesheet" href="~/plugins/fontawesome/css/all.min.css" />
    <link type="text/css" rel="stylesheet" href="~/plugins/morris/morris.css" />


</head>

<body>
    @RenderBody()
    <div class="main-wrapper">

        <div class="header">

            <div class="header-left">
                <a href="Home/index.html" class="logo">
                    <img src="~/img/logo_small.png" width="50" height="70" alt="logo">
                    <span class="logoclass">Dashboard</span>
                </a>
                <a href="Home/index.html" class="logo logo-small">
                    <img src="~/img/logo_small.png" alt="Logo" width="30" height="30">
                </a>
            </div>

            <a href="javascript:void(0);" id="toggle_btn">
                <i class="fe fe-text-align-left"></i>
            </a>

            <a class="mobile_btn" id="mobile_btn">
                <i class="fas fa-bars"></i>
            </a>


            <ul class="nav user-menu">

                <li class="nav-item dropdown noti-dropdown">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <i class="fe fe-bell"></i> <span class="badge badge-pill">3</span>
                    </a>
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                            <span class="notification-title">Notifications</span>
                            <a href="javascript:void(0)" class="clear-noti"> Clear All </a>
                        </div>
                        <div class="noti-content">
                            <ul class="notification-list">
                                <li class="notification-message">
                                    <a href="#">
                                        <div class="media">
                                            <span class="avatar avatar-sm">
                                                <img class="avatar-img rounded-circle" alt="User Image" src="~/img/profiles/avatar-02.jpg">
                                            </span>
                                            <div class="media-body">
                                                <p class="noti-details">
                                                    <span class="noti-title">Carlson Tech</span> has
                                                    approved <span class="noti-title">your estimate</span>
                                                </p>
                                                <p class="noti-time">
                                                    <span class="notification-time">4 mins ago</span>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="#">
                                        <div class="media">
                                            <span class="avatar avatar-sm">
                                                <img class="avatar-img rounded-circle" alt="User Image" src="~/img/profiles/avatar-11.jpg">
                                            </span>
                                            <div class="media-body">
                                                <p class="noti-details">
                                                    <span class="noti-title">
                                                        International Software
                                                        Inc
                                                    </span> has sent you a invoice in the amount of <span class="noti-title">$218</span>
                                                </p>
                                                <p class="noti-time">
                                                    <span class="notification-time">6 mins ago</span>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="#">
                                        <div class="media">
                                            <span class="avatar avatar-sm">
                                                <img class="avatar-img rounded-circle" alt="User Image" src="~/img/profiles/avatar-17.jpg">
                                            </span>
                                            <div class="media-body">
                                                <p class="noti-details">
                                                    <span class="noti-title">John Hendry</span> sent
                                                    a cancellation request <span class="noti-title">
                                                        Apple iPhone
                                                        XR
                                                    </span>
                                                </p>
                                                <p class="noti-time">
                                                    <span class="notification-time">8 mins ago</span>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="#">
                                        <div class="media">
                                            <span class="avatar avatar-sm">
                                                <img class="avatar-img rounded-circle" alt="User Image" src="~/img/profiles/avatar-13.jpg">
                                            </span>
                                            <div class="media-body">
                                                <p class="noti-details">
                                                    <span class="noti-title">
                                                        Mercury Software
                                                        Inc
                                                    </span> added a new product <span class="noti-title">
                                                        Apple
                                                        MacBook Pro
                                                    </span>
                                                </p>
                                                <p class="noti-time">
                                                    <span class="notification-time">12 mins ago</span>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="topnav-dropdown-footer">
                            <a href="#">View all Notifications</a>
                        </div>
                    </div>
                </li>


                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <span class="user-img"><img class="rounded-circle" src="~/img/logo.png" width="31" alt="Dexter Smith"></span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="user-header">
                            <div class="avatar avatar-sm">
                                <img src="~/img/logo_small.png" alt="User Image" class="avatar-img rounded-circle">
                            </div>
                            <div class="user-text">
                                <h6>Dexter Smith</h6>
                                <p class="text-muted mb-0">Administrator</p>
                            </div>
                        </div>
                        <a class="dropdown-item" href="profile.html">My Profile</a>
                        <a class="dropdown-item" href="settings.html">Account Settings</a>
                        <a class="dropdown-item" href="login.html">Logout</a>
                    </div>
                </li>

            </ul>

            <div class="top-nav-search">
                <form>
                    <input type="text" class="form-control" placeholder="">
                    <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
        </div>

        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="active">
                            <a href="index.html"><i class="fas fa-home"></i> <span>Trang chủ</span></a>
                        </li>
                        <li class="list-divider"></li>
                        <li class="submenu">
                            <a href="#"><i class="fas fa-user"></i> <span> Quản lý giảng viên  </span> <span class="menu-arrow"></span></a>
                            <ul class="submenu_class" style="display: none;">
                                <li><a href="all-booking.html">  Hồ sơ giảng viên </a></li>
                                <li><a href="edit-booking.html"> Quá trình giảng dạy </a></li>
                                <li><a href="add-booking.html"> Nhiệm vụ </a></li>
                                <li><a href="add-booking.html"> Các hoạt động </a></li>
                                <li><a href="add-booking.html"> Chất lượng giảng dạy </a></li>
                                <li><a href="add-booking.html"> Công tác nghiên cứu </a></li>
                                <li><a href="add-booking.html"> Quá trình công tác </a></li>
                                <li><a href="add-booking.html"> Nhiệm vụ </a></li>

                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fas fa-book"></i> <span> Quản lý môn học  </span> <span class="menu-arrow"></span></a>
                            <ul class="submenu_class" style="display: none;">
                                <li><a href="all-booking.html">  Thông tin các môn học Khoa quản lý </a></li>
                                <li><a href="edit-booking.html"> Thông tin các môn học theo năm, kì </a></li>
                                <li><a href="add-booking.html"> Cập nhật sửa đổi đối với các học phần </a></li>

                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fas fa-calendar-alt"></i> <span> Quản lý sự kiện  </span> <span class="menu-arrow"></span></a>
                            <ul class="submenu_class" style="display: none;">
                                <li><a href="all-booking.html">  Kế hoạch </a></li>
                                <li><a href="edit-booking.html"> Tiến độ thực hiện </a></li>
                                <li><a href="add-booking.html"> Đánh giá </a></li>

                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fas fa-book"></i> <span> Quản lý công việc  </span> <span class="menu-arrow"></span></a>
                            <ul class="submenu_class" style="display: none;">
                                <li><a href="all-booking.html">   Giảng viên đăng ký, cập nhật thông tin, tiến độ trực tuyến </a></li>
                                <li><a href="edit-booking.html">Bộ phận quản lý dễ dàng theo dõi tiến độ và đánh giá chất lượng công việc</a></li>
                                <li><a href="add-booking.html"> Đánh giá </a></li>

                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fas fa-book"></i> <span> Báo cáo, thống kê  </span> <span class="menu-arrow"></span></a>
                            <ul class="submenu_class" style="display: none;">
                                <li><a href="all-booking.html">Xuất báo cáo, dữ liệu phục vụ công tác đánh giá cuối năm hoặc các hoạt động khác cho giảng viên</a></li>

                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        $(document).ready(function () {
            $("button").click(function () {
                alert("jQuery is working perfectly.");
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>\
    <script type="text/javascript" src="~/plugins/morris/morris.min.js"></script>
    <script type="text/javascript" src="~/plugins/raphael/raphael.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script type="text/javascript" src="~/js/popper.min.js"></script>
    <script type="text/javascript" src="~/js/chart.morris.js"></script>
    <script type="text/javascript" src="~/js/script.js"></script>
    
</body>
</html>
