@{
    ViewData["Title"] = "Quản lý kế hoạch";
}



<div class="page-wrapper">
    <div class="content container-fluid mt-5">

        <div class="page-header">
            <div class="row">
                <div class="col">
                    <h3 class="page-title">Form FileUpload</h3>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Single File Upload</h5>
                    </div>
                    <div class="card-body">
                        <div class="custom-file-container" data-upload-id="myFirstImage">
                            <label>Upload (Single File) <a href="javascript:void(0)" class="custom-file-container__image-clear" title="Clear Image">x</a></label>
                            <label class="custom-file-container__custom-file">
                                <input type="file" class="custom-file-container__custom-file__custom-file-input" accept="image/*">
                                <input type="hidden" name="MAX_FILE_SIZE" value="10485760" />
                                <span class="custom-file-container__custom-file__custom-file-control"></span>
                            </label>
                            <div class="custom-file-container__image-preview"></div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
    </div>
</div>


<script src="~/plugins/fileupload/fileupload.min.js"></script>
