@model QuanLyKhoaCNTTUEF.Models.Nhom

@{
    ViewData["Title"] = "Edit Group ";
}

<div class="page-wrapper" style="min-height: 941px;">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <div class="mt-5">
                        <h4 class="card-title float-left mt-2">@ViewData["Title"] @Html.DisplayFor(model => model.TenNhom)</h4>
                        <a asp-action="Index" class="btn btn-primary float-right veiwbutton">Quay Về</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">

                <div class="card">

                    <div class="card-body">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="IDNhom" />
                            <div class="form-group">
                                <label asp-for="IDSuKien" class="control-label"></label>
                                <input asp-for="IDSuKien" class="form-control" />
                                <span asp-validation-for="IDSuKien" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TenNhom" class="control-label"></label>
                                <input asp-for="TenNhom" class="form-control" />
                                <span asp-validation-for="TenNhom" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="MoTa" class="control-label"></label>
                                <input asp-for="MoTa" class="form-control" />
                                <span asp-validation-for="MoTa" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NgayTao" class="control-label"></label>
                                <input asp-for="NgayTao" class="form-control" />
                                <span asp-validation-for="NgayTao" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NgayCapNhat" class="control-label"></label>
                                <input asp-for="NgayCapNhat" class="form-control" />
                                <span asp-validation-for="NgayCapNhat" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>