@model QuanLyKhoaCNTTUEF.ViewModel.EventViewModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-wrapper" style="min-height: 941px;">
    <div class="content container-fluid ">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <div class="mt-5">
                        <h3 class="card-title float-left mt-2">Quản lý nhóm</h3>
                        <ul class="breadcrumb float-right mt-3">
                            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
                            <li class="breadcrumb-item text-secondary">Quản Lý Nhóm</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <form method="get" action="/Admin/Event">
                    <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4" style="border-radius: 15px!important; box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;">
                        <div class="input-group">
                            <input type="search" name="SearchString" placeholder="Nhập từ bạn cần tìm?" aria-describedby="button-addon1" class="form-control border-0 bg-light">
                            <div class="input-group-append">
                                <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        @{

                <div class="page-header pt-5">
                    <div class="row align-items-center">
                        <div class="col">
                            <div>
                                <h4 class="card-title float-left mt-2"></h4>
                                <a class="float-right btn bg-primary btn-outline-primary text-white me-2" role="button" href="">Xem Thêm</a>
                            </div>
                        </div>
                    </div>
                </div>

        }

        <div class="row">
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card board1 fill" style="border-radius: 15px;">
                    <div class="card-body">
                        <div class="clearfix mb-2">
                            <label class="float-left font-weight-bold">ID Sự kiện:&ensp;</label>10001
                            <div class="float-right">
                                <div class="dropdown dropdown-action">
                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown"
                                       aria-expanded="false"><i class="fas fa-ellipsis-v ellipse_color"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="edit-room.html">
                                            <i class="fas fa-pencil-alt m-r-5"></i> Edit
                                        </a>
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_asset">
                                            <i class="fas fa-trash-alt m-r-5"></i>
                                            Delete
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h5 class="card-title text-cyan pb-2" style="text-align: left;">Tree Group</h5>
                        <div class="row">
                            <div class="col-sm-6 align-items-center">
                                <h6 class="card-text">Ngày tạo:</h6>
                            </div>
                            <p class="pl-4 col" style="margin-bottom: 0;">20/12/2023</p>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 align-items-center">
                                <h6 class="card-text">Ngày cập nhật:</h6>
                            </div>
                            <p class="pl-4 col" style="margin-bottom: 0;">20/12/2023</p>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 align-items-center">
                                <h6 class="card-text">ID Nhóm:</h6>
                            </div>
                            <p class="pl-4 col">2</p>
                        </div>
                        <div class="row">
                            <h6 class="card-text col-sm-3 align-items-center mtb-center">Mô tả: </h6>

                            <p class="text-truncate pl-1 col mtb-center" style="color: gray!important;">đề tài nghiên cứu khóa luận có bấdddddddddddddddddddddddddddddđ</p>
                        </div>
                        <div class="row align-items-center pt-3">
                            <div class="col col-sm-4">
                                <a href="" class="text-cyan font-weight-bold">Chi tiết</a>
                            </div>
                            <div class="col col-sm-8 text-right">
                                <div class="avatar-group">
                                    <div class="avatar avatar-sm " style="margin-right: 0.2rem; border: 0.2rem solid white;">
                                        <div class="avatar-title rounded-circle " style="background-color: rgb(198, 202, 223);"><span style="color: blue;">+3</span></div>
                                    </div>
                                    <div class="avatar avatar-sm" style="border: 0.2rem solid white;">
                                        <img src="https://pixinvent.com/materialize-material-design-admin-template/app-assets/images/user/12.jpg" />
                                    </div>
                                    <div class="avatar avatar-sm" style="border: 0.2rem solid white;">
                                        <img src="https://htmlstream.com/preview/unify-v2.6.2/assets/img-temp/400x450/img5.jpg" />
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card board1 fill" style="border-radius: 15px;">
                    <div class="card-body">
                        <div class="clearfix mb-2">
                            <label class="float-left font-weight-bold">ID Sự kiện:&ensp;</label>10001
                            <div class="float-right">
                                <div class="dropdown dropdown-action">
                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown"
                                       aria-expanded="false"><i class="fas fa-ellipsis-v ellipse_color"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="edit-room.html">
                                            <i class="fas fa-pencil-alt m-r-5"></i> Edit
                                        </a>
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_asset">
                                            <i class="fas fa-trash-alt m-r-5"></i>
                                            Delete
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h5 class="card-title text-cyan pb-2" style="text-align: left;">Tree Group</h5>
                        <div class="row">
                            <div class="col-sm-6 align-items-center">
                                <h6 class="card-text">Ngày tạo:</h6>
                            </div>
                            <p class="pl-4 col" style="margin-bottom: 0;">20/12/2023</p>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 align-items-center">
                                <h6 class="card-text">Ngày cập nhật:</h6>
                            </div>
                            <p class="pl-4 col" style="margin-bottom: 0;">20/12/2023</p>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 align-items-center">
                                <h6 class="card-text">ID Nhóm:</h6>
                            </div>
                            <p class="pl-4 col">2</p>
                        </div>
                        <div class="row">
                            <h6 class="card-text col-sm-3 align-items-center mtb-center">Mô tả: </h6>

                            <p class="text-truncate pl-1 col mtb-center" style="color: gray!important;">đề tài nghiên cứu khóa luận có bấdddddddddddddddddddddddddddddđ</p>
                        </div>
                        <div class="row align-items-center pt-3">
                            <div class="col col-sm-4">
                                <a href="" class="text-cyan font-weight-bold">Chi tiết</a>
                            </div>
                            <div class="col col-sm-8 text-right">
                                <div class="avatar-group">
                                    <div class="avatar avatar-sm " style="margin-right: 0.2rem; border: 0.2rem solid white;">
                                        <div class="avatar-title rounded-circle " style="background-color: rgb(198, 202, 223);"><span style="color: blue;">+3</span></div>
                                    </div>
                                    <div class="avatar avatar-sm" style="border: 0.2rem solid white;">
                                        <img src="https://pixinvent.com/materialize-material-design-admin-template/app-assets/images/user/12.jpg" />
                                    </div>
                                    <div class="avatar avatar-sm" style="border: 0.2rem solid white;">
                                        <img src="https://htmlstream.com/preview/unify-v2.6.2/assets/img-temp/400x450/img5.jpg" />
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card board1 fill" style="border-radius: 15px;">
                    <div class="card-body">
                        <div class="clearfix mb-2">
                            <label class="float-left font-weight-bold">ID Sự kiện:&ensp;</label>10001
                            <div class="float-right">
                                <div class="dropdown dropdown-action">
                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown"
                                       aria-expanded="false"><i class="fas fa-ellipsis-v ellipse_color"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="edit-room.html">
                                            <i class="fas fa-pencil-alt m-r-5"></i> Edit
                                        </a>
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_asset">
                                            <i class="fas fa-trash-alt m-r-5"></i>
                                            Delete
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h5 class="card-title text-cyan pb-2" style="text-align: left;">Tree Group</h5>
                        <div class="row">
                            <div class="col-sm-6 align-items-center">
                                <h6 class="card-text">Ngày tạo:</h6>
                            </div>
                            <p class="pl-4 col" style="margin-bottom: 0;">20/12/2023</p>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 align-items-center">
                                <h6 class="card-text">Ngày cập nhật:</h6>
                            </div>
                            <p class="pl-4 col" style="margin-bottom: 0;">20/12/2023</p>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 align-items-center">
                                <h6 class="card-text">ID Nhóm:</h6>
                            </div>
                            <p class="pl-4 col">2</p>
                        </div>
                        <div class="row">
                            <h6 class="card-text col-sm-3 align-items-center mtb-center">Mô tả: </h6>

                            <p class="text-truncate pl-1 col mtb-center" style="color: gray!important;">đề tài nghiên cứu khóa luận có bấdddddddddddddddddddddddddddddđ</p>
                        </div>
                        <div class="row align-items-center pt-3">
                            <div class="col col-sm-4">
                                <a href="" class="text-cyan font-weight-bold">Chi tiết</a>
                            </div>
                            <div class="col col-sm-8 text-right">
                                <div class="avatar-group">
                                    <div class="avatar avatar-sm " style="margin-right: 0.2rem; border: 0.2rem solid white;">
                                        <div class="avatar-title rounded-circle " style="background-color: rgb(198, 202, 223);"><span style="color: blue;">+3</span></div>
                                    </div>
                                    <div class="avatar avatar-sm" style="border: 0.2rem solid white;">
                                        <img src="https://pixinvent.com/materialize-material-design-admin-template/app-assets/images/user/12.jpg" />
                                    </div>
                                    <div class="avatar avatar-sm" style="border: 0.2rem solid white;">
                                        <img src="https://htmlstream.com/preview/unify-v2.6.2/assets/img-temp/400x450/img5.jpg" />
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card board1 fill" style="border-radius: 15px;">
                    <div class="card-body">
                        <div class="clearfix mb-2">
                            <label class="float-left font-weight-bold">ID Sự kiện:&ensp;</label>10001
                            <div class="float-right">
                                <div class="dropdown dropdown-action">
                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown"
                                       aria-expanded="false"><i class="fas fa-ellipsis-v ellipse_color"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="edit-room.html">
                                            <i class="fas fa-pencil-alt m-r-5"></i> Edit
                                        </a>
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_asset">
                                            <i class="fas fa-trash-alt m-r-5"></i>
                                            Delete
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h5 class="card-title text-cyan pb-2" style="text-align: left;">Tree Group</h5>
                        <div class="row">
                            <div class="col-sm-6 align-items-center">
                                <h6 class="card-text">Ngày tạo:</h6>
                            </div>
                            <p class="pl-4 col" style="margin-bottom: 0;">20/12/2023</p>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 align-items-center">
                                <h6 class="card-text">Ngày cập nhật:</h6>
                            </div>
                            <p class="pl-4 col" style="margin-bottom: 0;">20/12/2023</p>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 align-items-center">
                                <h6 class="card-text">ID Nhóm:</h6>
                            </div>
                            <p class="pl-4 col">2</p>
                        </div>
                        <div class="row">
                            <h6 class="card-text col-sm-3 align-items-center mtb-center">Mô tả: </h6>

                            <p class="text-truncate pl-1 col mtb-center" style="color: gray!important;">đề tài nghiên cứu khóa luận có bấdddddddddddddddddddddddddddddđ</p>
                        </div>
                        <div class="row align-items-center pt-3">
                            <div class="col col-sm-4">
                                <a href="" class="text-cyan font-weight-bold">Chi tiết</a>
                            </div>
                            <div class="col col-sm-8 text-right">
                                <div class="avatar-group">
                                    <div class="avatar avatar-sm " style="margin-right: 0.2rem; border: 0.2rem solid white;">
                                        <div class="avatar-title rounded-circle " style="background-color: rgb(198, 202, 223);"><span style="color: blue;">+3</span></div>
                                    </div>
                                    <div class="avatar avatar-sm" style="border: 0.2rem solid white;">
                                        <img src="https://pixinvent.com/materialize-material-design-admin-template/app-assets/images/user/12.jpg" />
                                    </div>
                                    <div class="avatar avatar-sm" style="border: 0.2rem solid white;">
                                        <img src="https://htmlstream.com/preview/unify-v2.6.2/assets/img-temp/400x450/img5.jpg" />
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>